
# Application
NODE_ENV=development
PORT=3000
API_PREFIX=api

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME= <Your_DB_User>
DB_PASSWORD= <Your_Password>
DB_DATABASE= <DB_Name>

# JWT
JWT_SECRET= <secretAcces_Jwt>
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET= <secretRefresh_Jwt> 
JWT_REFRESH_EXPIRES_IN=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# CORS
CORS_ORIGINS=http://localhost:3001,http://localhost:8080
